{##############################################################################
 # Message Strategy Macros
 ##############################################################################}

{# Converts a message type (e.g. 'std_msgs/String') into a strategy name. #}
{% macro _type_to_strategy(name) -%}
ros_{{ name|replace('/', '_') }}
{%- endmacro %}

{# Converts a package and message names into a strategy name. #}
{% macro _strategy_name(pkg, msg) -%}
ros_{{ pkg }}_{{ msg }}
{%- endmacro %}

{# Simple message field initialisation. Draws and assigns a value if the
    field is of a primitive type, otherwise initialises the field in-place,
    since building a ROS message already initialises all field trees below. #}
{% macro _init_simple_field(name, type_token) %}
{% if type_token.is_primitive or type_token.is_time or type_token.is_duration %}
msg.{{ name }} = draw({{ _type_to_strategy(type_token.type_name) }}()){# -#}
{% else %}{# modify in-place, ignore return value #}
draw({{ _type_to_strategy(type_token.type_name) }}(msg=msg.{{ name }})){# -#}
{% endif %}
{% endmacro %}

{# Writes a statement for a custom message strategy.
    Statements can be simple assignments or assumptions, or they could be
    loops or statement blocks, in which case this macro becomes recursive. #}
{% macro _statement(statement) %}
{% if statement.is_assignment -%}
{{ statement.field }} = {{ statement.expression }}
{%- elif statement.is_assumption -%}
assume({{ statement.expression }})
{%- elif statement.is_block -%}
{% for child in statement.statements %}
{{ _statement(child) }}
{% endfor %}
{%- elif statement.is_loop -%}
for {{ statement.variable }} in {{ statement.expression }}:
{{ _statement(statement.statement)|indent(width=4, first=True) }}
{%- endif %}
{% endmacro %}


{# Builds a default message strategy for a given message type token.
    Default strategies draw all values at random, without constraints. #}
{% macro default_msg(ros_type) %}
@strategies.composite
def {{ _strategy_name(ros_type.package, ros_type.message) }}(draw, msg=None):
    msg = msg or {{ ros_type.package }}.{{ ros_type.message }}()
    {% for field, type_token in ros_type.fields.items() %}
    {% if type_token.is_array %}
        {% if type_token.length is none %}
    msg.{{ field }} = draw(strategies.lists({# -#}
        {{ _type_to_strategy(type_token.type_name) }}()))
        {% else %}
    for i in range(len(msg.{{ field }})):
        {{ _init_simple_field(field ~ '[i]', type_token.type_token) }}
        {% endif %}
    {% else %}
    {{ _init_simple_field(field, type_token) }}
    {% endif %}
    {% endfor %}
    return msg
{% endmacro %}


{# Builds a custom message strategy for a given package and message,
    from a given list of statements. The statements determine which values
    to assign to each field, as well as any additional constraints that
    must be satisfied. #}
{% macro custom_msg(strategy) %}
@strategies.composite
{% if strategy.args %}
def {{ strategy.name }}(draw, {{ strategy.args|join(', ') }}):
{% else %}
def {{ strategy.name }}(draw):
{% endif %}
    msg = {{ strategy.pkg }}.{{ strategy.msg }}()
{% for statement in strategy.statements %}
{{ _statement(statement)|indent(width=4, first=True) }}
{% endfor %}
    return msg
{% endmacro %}


{##############################################################################
 # Template Body
 ##############################################################################}

{# Strategies = (p, q, a, b) #}
{# p = (strategy, spam) #}
{# q = (strategy, spam) #}
{# a = (strategy, spam, min_num, max_num) #}
{# b = (spam, timeout) #}
{# MsgStrategy = ("name", "args", "pkg", "msg", "statements",
                  "is_default", "topic", "alias") #}

{# assume: q.spam and b.spam are the same #}


{% if p.strategy %}
    {% for strategy in p.spam %}
        {% if not strategy.is_default %}
{{ custom_msg(strategy) }}
        {% endif %}
    {% endfor %}
    {% if not p.strategy.is_default %}

{{ custom_msg(p.strategy) }}
    {% endif %}
{% endif %}

{% if q.strategy %}
    {% for strategy in q.spam %}
        {% if not strategy.is_default %}
{{ custom_msg(strategy) }}
        {% endif %}
    {% endfor %}
    {% if not q.strategy.is_default %}

{{ custom_msg(q.strategy) }}
    {% endif %}
{% endif %}

{% if a.strategy %}
    {% for strategy in a.spam %}
        {% if not strategy.is_default %}
{{ custom_msg(strategy) }}
        {% endif %}
    {% endfor %}
    {% if not a.strategy.is_default %}

{{ custom_msg(a.strategy) }}
    {% endif %}
{% endif %}
